<% errors = model.errors %>
<% if errors.any? %>
  <div class="alert alert-danger">
    <%= t('declinations.form') %>
    <%= t('declinations.errors', count: errors.count) %>

    <ul class="mb-0">
      <% errors&.full_messages.each do |message| %>
        <% if message.include?("Rate at") %>
          <li><%= "rate_at: некорректная дата" %></li>
        <% elsif message.include?("Rate value")%>
          <li><%= "rate_value: не является числом" %></li>
          <% else %>
          <li><%= message %></li>
        <% end %>
      <% end %>
    </ul>
  </div>
<% end %>
